.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
    font-weight: 500;
    font-size: 24px;
  }

  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }

  .btn {
    margin-right: 2px;
    &:hover {
      color:white;
    }
  }

  .center {
    text-align: center;
  }