.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-container {
  display: flex;
}

.card-photo > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-user {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 6px;
}
.container-card {
  flex-grow: 0.75;
  display: flex;
  height: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card-name {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.card-description {
font-family: Work Sans;
font-size: 14px;
line-height: 14px;
color: rgba(0, 0, 0, 0.8);
}

.card-price {
font-family: Work Sans;
font-weight: 600;
font-size: 16px;
color: #000000;
}

